$backgroundMainColor: white;
$redMainColor: salmon;
$spinnerColor: $redMainColor;

// screens
$screen-xxs: 576px;
$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1200px;
$screen-lg: 1600px;
$screen-xl: 1920px;
